<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TELM</title>
        <link rel="stylesheet" href="/static/style.css">
        <!-- Biblioteka do wykresów: http://dygraphs.com/ -->
        <script src="/static/dygraph-combined.js"></script>
        <!-- Biblioteki dla komponentu do wybierania przedziału czasu -->
        <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="/static/semantic/semantic.min.css"/>
        <script type="text/javascript" src="/static/semantic/semantic.min.js"></script>
        <script type="text/javascript" src="/static/duration-picker/jquery-duration-picker.js"></script>
        <link rel="stylesheet" href="/static/duration-picker/jquery-duration-picker.css"/>
        <!-- Javascript obsługujący stronę z widokiem ECG -->
        <script src="/static/ecg_view.js"></script>
    </head>
    <body>
        <header><h1>Przebieg № {{ recording.id }}</h1></header>
        <p>Nazwa przebiegu: {{ recording.name }}</p>
        <p>Czas badania: {{ recording.timestamp }}</p>

        <div>
            <div class="ui input">
                <span style="margin: auto; padding-right: 5px">Od:</span>
                <input type="text" id="start-time-picker" class="duration-picker" value="0">
            </div>
            <div class="ui input">
                <span style="margin: auto; padding-right: 5px">Do:</span>
                <input type="text" id="end-time-picker" class="duration-picker" value="30">
            </div>

            <button id="change-time-range-button">Wczytaj</button>
        </div>

        <div id="graph" style="width: 100%"></div>

        <script>
            initDygraph({{ recording.id}}, {{ recording_data }});
            $('.duration-picker').duration_picker();
            initClickOnDurationPickers();
        </script>

        <div>
            {{ recording.comment.replace("\n\n", "\n").replace("\n", "<br>") | safe }}
        </div>
    </body>
</html>
