<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>TELM</title>
      <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
      <header><h1>Lista przebiegów EKG z przykładowej bazy danych: </h1></header>
      <table>
        <thead>
          <tr><th>Nazwa</th><th>Czas</th></tr>
        </thead>
        <tbody>
          <!-- Jinja - język szablonów zintegrowany z Flaskiem -->
          {% for recording in recordings %}
            <tr><td><a href="/recordings/{{recording.id}}" target="_blank">{{ recording.name }}</a></td><td>{{ recording.timestamp }}</td></tr>
          {% endfor %}
        </tbody>
      </table>

  </body>
</html>
