/* main.css */

html, body, h1, h2, h3, h4, p, div, ol, ul, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
    font-style: normal;
}

.main {
    margin: 20px auto;
    padding: 20px 10px 20px 10px;
    width: 80%;
    text-align: center;
    background-color:  white;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 40px auto;
    font-family: Raleway, Calibri, Tahoma, sans-serif; /*"Segoe UI", "Helvetica Neue", Helvetica, */
	font-size: 1.5em;/*24px*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
	max-width: 100%;
}

a {
	font-family: , alewayCalibri, Tahoma, sans-serif;
	font-size: 1em;/*16px*/
	font-weight: bold;
	text-decoration: none;
	color: black;
}

p {
	font-family: Raleway, Calibri, Tahoma, sans-serif;
	font-size: 1em;/*16px*/
}

a:hover {
	color:  green;
	text-decoration: underline;
}

h1 {
	font-size: 4.375em;/*70px*/
	font-weight: bold;
	text-align: center;
	font-family: Raleway, Calibri, Tahoma, sans-serif;
	width: 70%;
	margin: 10px auto;
}

h2 {
	font-family: Raleway, Calibri, Tahoma, sans-serif;
	font-size: 1.875em;/*30px*/
	font-weight: 80;
	text-align: center;
	color: black;
	width: 70%;
	margin: 0 auto 0 auto;
}

h2 strong {
	front-weight: 80;
}

h3 {
	font-size: 1.75em;/*28px*/
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #555555;
	font-family: Calibri, Tahoma, sans-serif;
	margin: 20px 0 20px 0;
}


header {
	background: #999999;
	background: radial-gradient( circle, #9fea98, #008000);
	padding: 20px 0 20px 0;
	color: white;
	margin: 0px auto;
}


footer {
	margin-top: 8px;
	background: radial-gradient( circle, #000077, #000033);
	text-align: center;
	padding: 20px 0;
}

footer p a {
	color: white;
}

footer p a:hover {
	text-decoration: underline;
	color: white;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 40px auto;
    font-family: Raleway, Calibri, Tahoma, sans-serif;
	font-size: 1.5em;/*24px*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table a {
    font-weight: normal;}

.dashed {
    text-align: left;
    width: 70%;
    position: relative;
    padding: 10px 70px;
    margin: 10px auto;
}

.main h2 {
    margin: 60px auto 20px auto;
    border-bottom: 3px dashed green;
    font-weight: bold;
    font-size: 1.875em;/*30px*/
}

.main p {
    font-family: arial, sans-serif;
    font-size: 1.5em;/*24px*/
}

header h1 {
    font-size: 4.375em;/*70px*/
	font-weight: bold;
	text-align: center;
	font-family: Raleway, Calibri, Tahoma, sans-serif;
	width: 70%;
	margin: 10px auto;
}

#time-picker {
    margin-left: 50px;
    width: 30%;
    padding: 10px 10px;
}

ul {
    margin: 0px auto;
}

 ul li {
    decoration: none;
    font-family: Raleway, Calibri, Tahoma, sans-serif;
	background: #999999;
	background: radial-gradient( circle, white, #c9edcc);
	font-weight: bold;
	color: black;
	display: inline;
	padding: 8px 8px 8px 8px;
	margin: auto;
	transition: all 0.2s ease;
	border-radius: 10px;
	/*position: relative;*/

    }

.main table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 40px auto;
    font-family: Calibri, Tahoma, sans-serif;
	font-size: 1.5em;/*24px*/
}


.main td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.main th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.main tr:nth-child(even) {
    background-color: #dddddd;
}

.big-button {
		width: 100px;
		height: 35px;
		font-size: 20px;
}

.addPatient-button {
		width: 200px;
		height: 50px;
		font-size: 20px;
		position: absolute;
		right: 20px;
}

.backToMain-button {
		width: 200px;
		height: 50px;
		font-size: 20px;
		position: absolute;
		left: 20px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	    border-radius: 15px;

	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 1px 1px 3px #000;
}
#white-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}
#dlgbox{
    /*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 10px;
    background: #999999;
	background: radial-gradient( circle, #9fea98, #008000);
	}

#dlg-header{


	padding: 20px 0 20px 0;
	color: white;
	margin: 0px auto;

	 font-size: 30px;/*70px*/
	font-weight: bold;
	text-align: center;
	font-family: Raleway, Calibri, Tahoma, sans-serif;
	width: 70%;
	margin: 10px auto;
}

#dlg-body{
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

#dlg-footer{
    background-color: #f2f2f2;
    text-align: right;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#dlg-footer button{
    background-color: #6d84b4;
    color: white;
    padding: 5px;
    border: 0px;
}